---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered" id="page-section">
                <div class="section">
                    <h1 class="title is-1 is-uppercase has-text-weight-bold">
                        {{page.title}}
                    </h1>
                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        <iframe id="Davin_Landry_Resume" src="/Davinci_Portfolio/assets/Davin_Landry_Resume_2022.docx.pdf" height="1200px" width="100%" scrolling="yes"></iframe>
                        <!-- <embed id="plugin" type="application/x-google-chrome-pdf" original-url="https://dlandry97.github.io/Davinci_Portfolio/assets/dresume.pdf" src="chrome-extension://mhjfbmdgcfjbbpaeojofohoefgiehjai/a07f98a4-718d-4c72-99b5-2c59b9b7f19e" background-color="4283586137" javascript="allow" top-level-url="https://dlandry97.github.io/Davinci_Portfolio/resume-page" pdf-viewer-update-enabled=""> -->
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>